<h1>Hi! Please confirm your email!</h1>

<p>
    Merci de confirmer votre adresse email en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

