{% for label, messages in app.flashes %}
    {% for message in messages %}
        {% set bg_class = label == 'error' ? 'bg-danger' : (label == 'warning' ? 'bg-warning' : 'bg-success') %}
        <div class="container-xl my-2 mx-auto justify-content-center row text-center ">
            <div class="toast w-100 mx-auto align-items-center text-white {{ bg_class }} border-0" role="alert" id="liveToast"  aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        {{ message }}
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}